/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Sep 2021, 3:24:12 pm
    Author     : Cruxfyx
*/
.navbar-brand img {
border-radius: 50%;

}
main h2 {
  text-decoration: underline;
}
img {
    border-style: double;
    border-color: black;
}
figure{
    display: inline-block;
    text-align: center;
}
figcaption {  
    font-style: italic;
    color: gray;  
}
.img-popup{
    z-index: 1;
    position: absolute;
    left: 100px;
}

.img-popup img{
    border: 5px solid silver;
    outline-style: double;
    box-shadow: 2px 2px 5px #999; 
    height: 50%;
    width: 70%;
}
footer{
    border-top: double;
    text-align: center;
    font-size: small;
    font-style: italic;
    font-size: smaller;
}
.navbar-brand img {
border-radius: 50%;

}
.jumbotron{
    background-image: url(../Images/petwp2.jpg);
}

.pet-info{
    color: #000000;
    font-size: larger;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 5px;
}
.jumbotron h1{
    color: #000000;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
}
.jumbotron h2{
    color: #000000;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
}
.checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

/* to format inputs */
.group{
    padding: 0px 3px;
    margin: 5px;
    /*cursor: pointer;*/    
}
/* to remove updown arrow in contact number input*/
/* only for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error{
    color: red;
    font-size: 14px;
    display: none;
}


/* to make inputs and buttons become a pointer */
button:hover, input:hover, label:hover { 
    cursor: pointer; 
}
.ifnoDiv{
    display: none;
}
.total{ 
    display: none;
}
body{
    background-color: 	rgba(240,248,255);
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}